.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 30rem;
    overflow: auto;
    color:white;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: white;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #045a1b;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #033a06;
    border-color: #0f5106;
    color: rgb(6, 237, 64);
  }
  
  .actions .button--alt {
    color: #07df19;
  }
  
  .actions .button {
    background-color: #055610;
    color: white;
  }