.form {
    text-align: right;
    color:rgb(219, 205, 205)
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #024b04;
    border: 1px solid #4520a2;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #641e03;
    border-color: #641e03;
  }